body{
    padding:2%;
    font-family: monospace;
}
h1 {
    text-align: center;
    margin:auto;
    width:50%;
    padding:2%;
}
div#userform {
    text-align: center;
    margin:auto;
    width:50%;
    font-family: monospace;
}

#current_chord { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align: center;
}

#play_button {
    background-color: #555555;
    margin:auto;
    width:20%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  color: white;
  border:none;
  /* padding:2%; */
}

#username { 
    border-radius:0;
        border:none;
        border-bottom: 1px solid black;
        box-shadow:none;
        background-color: white;
        font-size: 1em;
        font-family: monospace;
}

#controllers {
    padding:2%;
    text-align: center; 
    width:90%;
    display: block;
  margin-left: auto;
  margin-right: auto; 
}

#tempo div { 
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align: center; 
}

canvas { 
    width:100%;
    margin-left:8%;
    margin-top:3%;
}

.row { 
    display:flex;
}
.column { 
    flex:50%;
}
.column2 { 
    flex:100%;
    /* border-style:solid; */
}
.column3 { 
    flex:10%;
    /* border-style:solid; */
}
button { 
    margin:2%;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: monospace;
}
button:hover { 
    background-color: #555555;
    color: white;
}

.mybtn { 
    width:7vw;
    height:7vw;
    border-radius:50%;

}

#c_maj:hover { 
    background-color: rgb(22, 181, 255);
}
#a_min:hover { 
    background-color:rgb(94, 82, 167);
}
p {
    font-size:1.2em;
}
#suggestions { 
    font-size:1.2em;
}
/* 
#piano {
    background-image:url('piano.png');
    background-size: 5em,5em;
    height:5em;
    width:5em;
    border:none;
}
#piano:hover { 
    background-size: 10em,10em;
    height:10em;
    width:10em;
    cursor: pointer;
}

#tr808 {
    background-image:url('tr808.jpg');
    background-size: 5em,3em;
    height:3em;
    width:5em;
    border:none;
}
#tr808:hover { 
    background-size: 10em,6em;
    height:6em;
    width:10em;
    cursor: pointer;
}

#flute {
    background-image:url('flute.JPG');
    background-size: 5em,5em;
    height:5em;
    width:5em;
    border:none;
}
#flute:hover { 
    background-size: 10em,10em;
    height:10em;
    width:10em;
    cursor: pointer;
}

#xylophone {
    background-image:url('xylophone.jpg');
    background-size: 5em,5em;
    height:5em;
    width:5em;
    border:none;
}
#xylophone:hover { 
    background-size: 10em,10em;
    height:10em;
    width:10em;
    cursor: pointer;
}

#christmas {
    background-image:url('santa.jpg');
    background-size: 20em,12em;
    height:12em;
    width:20em;
    border:none;
}
#christmas:hover { 
    background-size: 20em,12em;
    height:12em;
    width:20em;
    cursor: pointer;
} */
